nav {
    background-color: white;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.nav-div {
    background-color: #F4F4F4;
    border-radius: 10rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}

.ham-logo-div {
    width: 2rem;
    height: 2rem;

    position: relative;

    padding: 0.5rem 0;
    padding-left: 1.5rem;

    /* background-color: blue; */
    /* opacity: 0.3; */
}
















.ham-logo-div img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;

    /* position: absolute;
    top: 0.5rem;
    right: 0; */

    user-select: none;

}

/* .nav-div img {
    width: 2rem;
    height: 2rem;
} */



.search-bar {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.search-bar > div {
    /* background-color: white; */
    display: flex;
    align-items: center;

    position: relative;

    /* border: solid; */
    /* border-radius: 2rem; */
    /* padding: 0.2rem 0.5rem; */
    /* background-color: blue; */
}

.lens-div {
    width: 1.5rem;
    height: 1.5rem;

    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 0.25rem;

    cursor: pointer;

    /* background-color: black; */
}

.search-bar img {
    width: 1rem;
    height: 1rem;
    object-fit: contain;
}



.search-bar input {
    padding: 0 2rem;
    height: 1.5rem;
    /* width: auto; */
    outline: none;
    border: solid #009399;
    border-radius: 1rem;
}

.search-bar input:focus {
    border-color: #005D61;
}


::placeholder {
    text-align: center;
    color: #009399;
}





.nav-link-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;
    /* background-color: black; */
}

.nav-link-div > .nav-link {
    padding: 0.5rem 1rem;
    /* background-color: green; */
}

.nav-link-hover {
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: #009399;
    transition: 0.4s;
}

.current-page {
    width: 100%;
}

.different-page {
    width: 0;
}

.nav-link:hover > .nav-link-hover {
    width: 100%;
}










/* .ham-container {
    display: none;

    width: 2rem;
    height: 2rem;

    border: solid #009399;
    border-radius: 0.5rem;

    position: absolute;
    top: 0.5rem;
    right: 3rem;


    cursor: pointer;
} */

/* .ham-div {
    position: relative;
}

.ham-div > div {
    width: 1.25rem;
    height: 0.15rem;
    background-color: #009399;

    position: absolute;
    left: 0.375rem;
}

.ham-div > div:nth-child(1){
    top: calc(0.925rem - 0.45rem);
}
.ham-div > div:nth-child(2){
    top: 0.925rem;
}
.ham-div > div:nth-child(3){
    top: calc(0.925rem + 0.45rem);
} */



.ham-div {
    width: 2rem;
    height: 2rem;
    margin-top: 0.5rem;
    margin-right: 1.5rem;

    display: none;
    flex-direction: column;
    justify-content: center;   
    gap: 0.15rem;

    cursor: pointer;
}

.ham-div > div {
    width: 2rem;
    height: 0.25rem;
    background-color: #009399;
    border-radius: 0.125rem;
}





@media (min-width: 48rem) {
    .nav-before > #pop-up {
        display: none;
    }
    .nav-after > #pop-up {
        display: none;
    }
}

@media (max-width: 25rem) {
    .search-bar input {
        width: 5rem;
    }
}

@media (max-width: 48rem) {    
    .nav-link-div {
        display: none;
    }

    .ham-div {
        display: flex;
    }

    .nav-after > #pop-up {
        background-color: #009399;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    
    #pop-up > div {
        height: 4.5rem;
    }
    
    .cross-div {
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        position: absolute;
        top: 2rem;
        left: 1.25rem;
        cursor: pointer;
    }

    .cross {
        position: relative;
    }

    .cross > div {
        width: 1.5rem;
        height: 0.2rem;
        border-radius: 0.1rem;

        position: absolute;
        top: 0.9rem;
        left: 0.3rem;
        
        background-color: white;
    }

    .cross > div:nth-child(1){
        transform: rotate(45deg);
    }
    .cross > div:nth-child(2){
        transform: rotate(-45deg);
    }
    
    #pop-up > a {
        height: 3rem;
        
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .pop-up-before {
        display: none;
    }
    
    .pop-up-after {
        display: block;
    }
    
    #background {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: black;
        opacity: 0.8;
    }
    
    .background-before {
        height: 0;
    }
    
    .background-after {
        height: 100vh;
    }
}