.title {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.product-div {
    padding: 1rem;
    background-color: #F4F4F4;
}

.product-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products-div {
    width: 10rem;
    height: 14rem;
    border: solid #009399;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 4px 4px 4px #C0C0C0;

    position: relative;
}

.product-logo-div {
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-logo {
    height: 1.5rem;
}

.product-image {
    width: 9rem;
    height: 9rem;
    margin: 0 0.5rem;
    object-fit: contain;

    /* position: absolute;
    top: 2rem;
    left: 0.5rem; */
}

.product-name {
    font-size: 0.75rem;
    border-top: solid #009399;
    margin: 0.5rem;

    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display: -webkit-box;
    /* max-width: 200px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}